body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

nav img {
    width: 100%;
    transform: scale(1.27);
}

#img_container {
    display: block;
    width: 5rem;
    text-align: left;
}

nav {
    text-align: center;
}

#name {
    /* border: 1px solid white; */
    align-content: center;
    margin: 0 auto;
}

#name span {
    font-size: 1.3rem;
    margin-top: 5rem;
    color: white;

}

.off-screen {
    background-color: rgba(255, 77, 0, 0.95);
    width: 100%;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    transition: 0.5s ease-in-out;
}

.off-screen ul {
    margin-top: 5rem;
    list-style: none;

}

.off-screen li {
    margin-top: 15px;
}

.off-screen.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}

.off-screen ul li a {
    text-decoration: none;
    color: white;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    top: 1rem;

    margin-top: -1rem;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #c1c3c8;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease-in-out;
    z-index: 5;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;

    transform: translate(-50%, 50%) rotate(-45deg);
}

.grid {
    padding: 1rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid .card {
    background-color: rgb(255, 77, 0);

    text-align: center;
    border-radius: 25px;
    box-shadow: 3px 5px 10px grey;
    padding: 0.5rem;
}

.grid .card:hover {
    transform: scale(1.02);
    transition: .5s ease-in-out;
}

.grid .card .member-level {
    background-color: orange;
    padding: 0.5rem;

    border-radius: 25px;
}

.company-card-container .card img {
    width: 5rem;
    margin-bottom: -1rem;
}

.grid .card p:nth-child(4) {
    color: blue;
    text-decoration: underline;
}

.list .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(255, 77, 0);

    /* box-shadow: 3px 5px 10px black; */

}

.list .card .img-cont img {
    width: 80%;
    margin-top: -1.5rem
}

.list .card .img-cont {
    width: 6rem;
    height: 6rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.list .card h3 {
    margin-top: -1rem
}

.list .card:nth-child(1) {
    border-top: 1px solid black;
}

.list .card .member-level {
    display: none;
}

.list .card .member-website {
    color: blue;
    text-decoration: underline;
}

footer {
    background-color: rgb(34, 37, 49);
    color: white;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company-info-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.company-info-foot p {
    margin-top: -0.5rem;
}

.current {
    font-weight: bolder;
}



#name-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#name-copy p:nth-child(2),
#name-copy p:nth-child(3) {
    margin-top: -.5rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    gap: 1rem;
}

.btns img {
    cursor: pointer;
}

.btns img:nth-child(1) {
    width: 2rem;
}

.btns img:nth-child(2) {
    width: 3rem;
}

.socials img:hover {
    transform: scale(1.06);
    transition: .5s ease;
}